<html lang="fr">
<head>
    <title>PDF Search</title>
    <meta name="description" content="Moteur de recherche de PDF" />
    {{!-- <meta property="og:image" content="../static/logo-square.png" /> --}}
    {{!-- <meta property="og:description" content="Partitions de la chorale Ken Da Doue" /> --}}
    {{!-- <meta property="og:url" content="https://scores.dinap.fr/" /> --}}
    {{!-- <link rel="icon" --}}
    {{!--       type="image/png" --}}
    {{!--       href="../static/logo.png"> --}}
    <link href="static/styles.css" rel="stylesheet" />
    <style>
        html {
            background-color: #1e1f22;
            color: #d3b677;
        }

        body {
            max-width: 1500px;
            margin: 2em auto;
            padding: 1em;
        }

        .loading {
           display:none;
        }
      #buttons {
        display: flex;
      }
      .button-4  {
        display: none;
      }
      #errors {

      display: none;
      }

      .download {
          width: 100%;
    font-size: 2em;
    height: 2em;
      }

    </style>
    <script src="static/script.js"></script>
</head>
<body onload="init()">

<div class="search">
  <input type="text" id="box"  placeholder="search"/>
</div>
    

<div id="errors"></div>
<div id="buttons">
<button onclick="display_prev()" class="button-4 button-prev" role="button">Précédent</button>
<div id="preview"></div>
<button onclick="display_next()" class="button-4 button-next" role="button">Suivant</button>
</div>
<button onclick="open_pdf_new_tab()" class="button-4 download" role="button button-dl">Télécharger PDF</button>
<div id="notif"></div>
</body>
</html>


<!-- HTML !-->


